
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.loading, .error {
  text-align: center;
  margin-top: 20px;
}
